i {
    font-size: 40px;
}

.fa-facebook-f {
    color: #3b5998;
}

.fa-youtube {
    color: #ff0000;
}

.fa-instagram {
    color: #ae00ff;
}

.fa-snapchat {
    color: #fffc00;
}

.fa-facebook-messenger {
    color: #0084ff;
}
